#* @vtlvariable name="entries" type="java.util.List<com.liferay.portal.kernel.servlet.taglib.ui.LanguageEntry>" *#
#* @vtlvariable name="template_id" type="java.lang.Long" *#
#* @vtlvariable name="class_name_id" type="java.lang.Long" *#
#* @vtlvariable name="displayCurrentLocale" type="java.lang.String" *#
#* @vtlvariable name="formName" type="java.lang.String" *#
#* @vtlvariable name="displayStyleGroupId" type="java.lang.String" *#
#* @vtlvariable name="displayStyle" type="java.lang.String" *#
#* @vtlvariable name="languageIds" type="java.lang.String" *#
#* @vtlvariable name="name" type="java.lang.String" *#
#* @vtlvariable name="formAction" type="java.lang.String" *#
#* @vtlvariable name="namespace" type="java.lang.String" *#
#* @vtlvariable name="currentURL" type="java.lang.String" *#