#* @vtlvariable name="folderSearchFacetDisplayContext" type="com.liferay.portal.search.web.internal.facet.display.context.FolderSearchFacetDisplayContext" *#
#* @vtlvariable name="entries" type="java.util.List<com.liferay.portal.search.web.internal.facet.display.context.FolderSearchFacetTermDisplayContext>" *#
#* @vtlvariable name="template_id" type="java.lang.Long" *#
#* @vtlvariable name="currentURL" type="java.lang.String" *#
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *#
