#* @vtlvariable name="serviceLocator" type="com.liferay.portal.template.ServiceLocator" *#
#* @vtlvariable name="entries" type="java.util.List<com.liferay.portal.kernel.repository.model.FileEntry>" *#
#* @vtlvariable name="dlAppLocalService" type="com.liferay.document.library.kernel.service.DLAppLocalService" *#
#* @vtlvariable name="dlAppService" type="com.liferay.document.library.kernel.service.DLAppService" *#
#* @vtlvariable name="dlFileEntryTypeLocalService" type="com.liferay.document.library.kernel.service.DLFileEntryTypeLocalService" *#
#* @vtlvariable name="dlFileEntryTypeService" type="com.liferay.document.library.kernel.service.DLFileEntryTypeService" *#
#* @vtlvariable name="dlUtil" type="com.liferay.document.library.kernel.util.DLUtil" *#
#* @vtlvariable name="template_id" type="java.lang.Long" *#
#* @vtlvariable name="class_name_id" type="java.lang.Long" *#
#* @vtlvariable name="mimeTypes" type="java.lang.String" *#
#* @vtlvariable name="randomNamespace" type="java.lang.String" *#
#* @vtlvariable name="displayStyleGroupId" type="java.lang.String" *#
#* @vtlvariable name="displayStyle" type="java.lang.String" *#
#* @vtlvariable name="rootFolderId" type="java.lang.String" *#
#* @vtlvariable name="dlPortletInstanceSettings" type="com.liferay.document.library.web.internal.settings.DLPortletInstanceSettings" *#