#* @vtlvariable name="serviceLocator" type="com.liferay.portal.template.ServiceLocator" *#
#* @vtlvariable name="assetPublisherHelper" type="com.liferay.portlet.assetpublisher.util.AssetPublisherHelper" *#
#* @vtlvariable name="entries" type="java.util.List<com.liferay.portlet.asset.model.AssetVocabulary>" *#
#* @vtlvariable name="entry" type="com.liferay.portlet.asset.model.AssetVocabulary" *#
#* @vtlvariable name="assetVocabularyLocalService" type="com.liferay.portlet.asset.service.AssetVocabularyLocalService" *#
#* @vtlvariable name="assetVocabularyService" type="com.liferay.portlet.asset.service.AssetVocabularyService" *#
#* @vtlvariable name="assetCategoryLocalService" type="com.liferay.portlet.asset.service.AssetCategoryLocalService" *#
#* @vtlvariable name="assetCategoryService" type="com.liferay.portlet.asset.service.AssetCategoryService" *#
