#* @vtlvariable name="serviceLocator" type="com.liferay.portal.template.ServiceLocator" *#
#* @vtlvariable name="entries" type="java.util.List<com.liferay.blogs.kernel.model.BlogsEntry>" *#
#* @vtlvariable name="blogsEntryLocalService" type="com.liferay.blogs.kernel.service.BlogsEntryLocalService" *#
#* @vtlvariable name="blogsEntryService" type="com.liferay.blogs.kernel.service.BlogsEntryService" *#
#* @vtlvariable name="template_id" type="java.lang.Long" *#
#* @vtlvariable name="blogsPortletInstanceConfiguration" type="com.liferay.blogs.web.internal.configuration.BlogsPortletInstanceConfiguration" *#
#* @vtlvariable name="blogsPortletInstanceSettingsHelper" type="com.liferay.blogs.web.internal.display.context.BlogsPortletInstanceSettingsHelper" *#
#* @vtlvariable name="class_name_id" type="java.lang.Long" *#