#* @vtlvariable name="assetPublisherHelper" type="com.liferay.portlet.assetpublisher.util.AssetPublisherHelper" *#
#* @vtlvariable name="entry" type="com.liferay.portlet.wiki.model.WikiPage" *#
#* @vtlvariable name="assetEntry" type="com.liferay.portlet.asset.model.AssetEntry" *#
#* @vtlvariable name="formattedContent" type="java.lang.String" *#
#* @vtlvariable name="wikiPageLocalService" type="com.liferay.portlet.wiki.service.WikiPageLocalService" *#
#* @vtlvariable name="wikiPageService" type="com.liferay.portlet.wiki.service.WikiPageService" *#
#* @vtlvariable name="wikiNodeLocalService" type="com.liferay.portlet.wiki.service.WikiNodeLocalService" *#
#* @vtlvariable name="wikiNodeService" type="com.liferay.portlet.wiki.service.WikiNodeService" *#
