#* @vtlvariable name="companyId" type="java.lang.Long" *#
#* @vtlvariable name="device" type="com.liferay.portal.kernel.mobile.device.Device" *#
#* @vtlvariable name="groupId" type="java.lang.Long" *#
#* @vtlvariable name="randomNamespace" type="java.lang.String" *#
#* @vtlvariable name="templatesPath" type="java.lang.String" *#
#* @vtlvariable name="viewMode" type="java.lang.String" *#
