#* @vtlvariable name="reserved-article-id_" type="java.lang.Long" *#
#* @vtlvariable name="reserved-article-resource-prim-key" type="java.lang.Long" *#
#* @vtlvariable name="reserved-article-external-reference-code" type="java.lang.String" *#
