#* @vtlvariable name="body_bottom_include" type="java.lang.String"  *#
#* @vtlvariable name="body_top_include" type="java.lang.String"  *#
#* @vtlvariable name="bottom_include" type="java.lang.String"  *#
#* @vtlvariable name="bottom_ext_include" type="java.lang.String"  *#
#* @vtlvariable name="company_id" type="java.lang.Long" *#
#* @vtlvariable name="company_logo_height" type="java.lang.Integer" *#
#* @vtlvariable name="company_logo_width" type="java.lang.Integer" *#
#* @vtlvariable name="company_name" type="java.lang.String" *#
#* @vtlvariable name="company_url" type="java.lang.String" *#
#* @vtlvariable name="community_default_public_url" type="java.lang.String" *#
#* @vtlvariable name="community_default_private_url" type="java.lang.String" *#
#* @vtlvariable name="community_default_url" type="java.lang.String" *#
#* @vtlvariable name="community_name" type="java.lang.String" *#
#* @vtlvariable name="content_include" type="java.lang.String"  *#
#* @vtlvariable name="control_panel_text" type="java.lang.String" *#
#* @vtlvariable name="control_panel_url" type="java.lang.String" *#
#* @vtlvariable name="css_class" type="java.lang.String" *#
#* @vtlvariable name="css_folder" type="java.lang.String" *#
#* @vtlvariable name="css_main_file" type="java.lang.String" *#
#* @vtlvariable name="current_time" type="java.util.Date" *#
#* @vtlvariable name="date" type="com.liferay.portal.kernel.util.DateUtil_IW" *#
#* @vtlvariable name="dir_include" type="java.lang.String"  *#
#* @vtlvariable name="full_css_path" type="java.lang.String" *#
#* @vtlvariable name="full_templates_path" type="java.lang.String" *#
#* @vtlvariable name="group_id" type="java.lang.Long" *#
#* @vtlvariable name="has_navigation" type="java.lang.Boolean"  *#
#* @vtlvariable name="home_text" type="java.lang.String" *#
#* @vtlvariable name="home_url" type="java.lang.String" *#
#* @vtlvariable name="images_folder" type="java.lang.String" *#
#* @vtlvariable name="is_default_user" type="java.lang.Boolean" *#
#* @vtlvariable name="is_female" type="java.lang.Boolean" *#
#* @vtlvariable name="is_first_child" type="java.lang.Boolean" *#
#* @vtlvariable name="is_first_parent" type="java.lang.Boolean" *#
#* @vtlvariable name="is_freeform" type="java.lang.Boolean" *#
#* @vtlvariable name="is_guest_group" type="java.lang.Boolean" *#
#* @vtlvariable name="is_login_redirect_required" type="java.lang.Boolean" *#
#* @vtlvariable name="is_male" type="java.lang.Boolean" *#
#* @vtlvariable name="is_maximized" type="java.lang.Boolean" *#
#* @vtlvariable name="is_portlet_page" type="java.lang.Boolean" *#
#* @vtlvariable name="is_setup_complete" type="java.lang.Boolean" *#
#* @vtlvariable name="is_signed_in" type="java.lang.Boolean" *#
#* @vtlvariable name="javascript_folder" type="java.lang.String" *#
#* @vtlvariable name="js_main_file" type="java.lang.String" *#
#* @vtlvariable name="language" type="java.lang.String" *#
#* @vtlvariable name="language_id" type="java.lang.Long" *#
#* @vtlvariable name="liferay_product_menu_state" type="java.lang.String" *#
#* @vtlvariable name="liferay_toggle_controls" type="java.lang.String" *#
#* @vtlvariable name="logo_css_class" type="java.lang.String"  *#
#* @vtlvariable name="logo_description" type="java.lang.String"  *#
#* @vtlvariable name="my_account_text" type="java.lang.String" *#
#* @vtlvariable name="my_account_url" type="java.lang.String" *#
#* @vtlvariable name="my_places_text" type="java.lang.String"  *#
#* @vtlvariable name="my_sites_text" type="java.lang.String"  *#
#* @vtlvariable name="nav_items" type="java.util.List<com.liferay.portal.kernel.theme.NavItem>"  *#
#* @vtlvariable name="page" type="com.liferay.portal.kernel.model.Layout" *#
#* @vtlvariable name="page_javascript" type="java.lang.String" *#
#* @vtlvariable name="page_javascript_1" type="java.lang.String" *#
#* @vtlvariable name="page_javascript_2" type="java.lang.String" *#
#* @vtlvariable name="page_javascript_3" type="java.lang.String" *#
#* @vtlvariable name="page_group" type="com.liferay.portal.kernel.model.Group" *#
#* @vtlvariable name="pages" type="java.util.List<com.liferay.portal.kernel.model.Layout>"  *#
#* @vtlvariable name="portlet_display" type="com.liferay.portal.kernel.theme.PortletDisplay" *#
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *#
#* @vtlvariable name="root_css_class" type="java.lang.String" *#
#* @vtlvariable name="selectable" type="java.lang.Boolean" *#
#* @vtlvariable name="sign_in_text" type="java.lang.String" *#
#* @vtlvariable name="sign_in_url" type="java.lang.String" *#
#* @vtlvariable name="sign_out_text" type="java.lang.String" *#
#* @vtlvariable name="sign_out_url" type="java.lang.String" *#
#* @vtlvariable name="site_default_public_url" type="java.lang.String" *#
#* @vtlvariable name="site_default_private_url" type="java.lang.String" *#
#* @vtlvariable name="site_default_url" type="java.lang.String" *#
#* @vtlvariable name="site_logo" type="java.lang.String"  *#
#* @vtlvariable name="site_logo_height" type="java.lang.Integer"  *#
#* @vtlvariable name="site_logo_width" type="java.lang.Integer"  *#
#* @vtlvariable name="site_name" type="java.lang.String" *#
#* @vtlvariable name="site_type" type="java.lang.String" *#
#* @vtlvariable name="show_control_panel" type="java.lang.Boolean" *#
#* @vtlvariable name="show_home" type="java.lang.Boolean" *#
#* @vtlvariable name="show_my_account" type="java.lang.Boolean" *#
#* @vtlvariable name="show_my_places" type="java.lang.Boolean"  *#
#* @vtlvariable name="show_my_sites" type="java.lang.Boolean"  *#
#* @vtlvariable name="show_sign_in" type="java.lang.Boolean" *#
#* @vtlvariable name="show_sign_out" type="java.lang.Boolean" *#
#* @vtlvariable name="show_site_name" type="java.lang.Boolean"  *#
#* @vtlvariable name="show_site_name_default" type="java.lang.Boolean"  *#
#* @vtlvariable name="show_site_name_supported" type="java.lang.Boolean"  *#
#* @vtlvariable name="show_staging" type="java.lang.Boolean" *#
#* @vtlvariable name="show_toggle_controls" type="java.lang.Boolean" *#
#* @vtlvariable name="templates_folder" type="java.lang.String" *#
#* @vtlvariable name="the_title" type="java.lang.String" *#
#* @vtlvariable name="the_year" type="java.lang.String" *#
#* @vtlvariable name="theme_display" type="com.liferay.portal.kernel.theme.ThemeDisplay" *#
#* @vtlvariable name="theme_settings" type="java.util.Properties" *#
#* @vtlvariable name="theme_timestamp" type="java.lang.Long" *#
#* @vtlvariable name="themeServletContext" type="javax.servlet.ServletContext" *#
#* @vtlvariable name="tilesContent" type="java.lang.String" *#
#* @vtlvariable name="tilesSelectable" type="java.lang.Boolean" *#
#* @vtlvariable name="tilesTitle" type="java.lang.String" *#
#* @vtlvariable name="time_zone" type="java.lang.Long" *#
#* @vtlvariable name="toggle_controls_text" type="java.lang.String" *#
#* @vtlvariable name="toggle_controls_url" type="java.lang.String" *#
#* @vtlvariable name="top_head_include" type="java.lang.String"  *#
#* @vtlvariable name="top_messages_include" type="java.lang.String"  *#
#* @vtlvariable name="typeSettingsProperties" type="com.liferay.portal.kernel.util.UnicodeProperties" *#
#* @vtlvariable name="use_company_logo" type="java.lang.Boolean"  *#
#* @vtlvariable name="user_birthday" type="java.util.Date" *#
#* @vtlvariable name="user_comments" type="java.lang.String" *#
#* @vtlvariable name="user_email_address" type="java.lang.String" *#
#* @vtlvariable name="user_first_name" type="java.lang.String" *#
#* @vtlvariable name="user_greeting" type="java.lang.String" *#
#* @vtlvariable name="user_id" type="java.lang.Long" *#
#* @vtlvariable name="user_initialized" type="java.lang.Boolean" *#
#* @vtlvariable name="user_last_login_ip" type="java.lang.String" *#
#* @vtlvariable name="user_last_name" type="java.lang.String" *#
#* @vtlvariable name="user_login_ip" type="java.lang.String" *#
#* @vtlvariable name="user_middle_name" type="java.lang.String" *#
#* @vtlvariable name="user_name" type="java.lang.String" *#
#* @vtlvariable name="w3c_language_id" type="java.lang.String" *#
