#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *#
#* @vtlvariable name="portletConfig" type="javax.portlet.PortletConfig" *#
#* @vtlvariable name="renderRequest" type="javax.portlet.RenderRequest" *#
#* @vtlvariable name="renderResponse" type="javax.portlet.RenderResponse" *#
#* @vtlvariable name="xmlRequest" type="java.lang.Object" *#
#* @vtlvariable name="themeDisplay" type="com.liferay.portal.theme.ThemeDisplay" *#
#* @vtlvariable name="company" type="com.liferay.portal.model.Company" *#
#* @vtlvariable name="user" type="com.liferay.portal.model.User" *#
#* @vtlvariable name="realUser" type="com.liferay.portal.model.User" *#
#* @vtlvariable name="layout" type="com.liferay.portal.model.Layout" *#
#* @vtlvariable name="layouts" type="java.util.List<com.liferay.portal.model.Layout>" *#
#* @vtlvariable name="plid" type="java.lang.String" *#
#* @vtlvariable name="layoutTypePortlet" type="com.liferay.portal.model.LayoutTypePortlet" *#
#* @vtlvariable name="scopeGroupId" type="java.lang.Long" *#
#* @vtlvariable name="permissionChecker" type="com.liferay.portal.security.permission.PermissionChecker" *#
#* @vtlvariable name="locale" type="java.util.Locale" *#
#* @vtlvariable name="timeZone" type="java.util.TimeZone" *#
#* @vtlvariable name="colorScheme" type="com.liferay.portal.model.ColorScheme" *#
#* @vtlvariable name="portletDisplay" type="com.liferay.portal.theme.PortletDisplay" *#
#* @vtlvariable name="navItems" type="java.util.List<com.liferay.portal.theme.NavItem>" *#
#* @vtlvariable name="portletGroupId" type="java.lang.String" *#
#* @vtlvariable name="theme" type="com.liferay.portal.model.Theme" *#
#* @vtlvariable name="fullCssPath" type="java.lang.String" *#
#* @vtlvariable name="fullTemplatesPath" type="java.lang.String" *#
#* @vtlvariable name="pageTitle" type="java.lang.String" *#
#* @vtlvariable name="pageSubtitle" type="java.lang.String" *#
#* @vtlvariable name="theme_display" type="com.liferay.portal.theme.ThemeDisplay" *#
#* @vtlvariable name="portlet_display" type="com.liferay.portal.theme.PortletDisplay" *#
#* @vtlvariable name="theme_timestamp" type="java.lang.Long" *#
#* @vtlvariable name="theme_settings" type="java.util.Properties" *#
#* @vtlvariable name="root_css_class" type="java.lang.String" *#
#* @vtlvariable name="css_class" type="java.lang.String" *#
#* @vtlvariable name="liferay_toggle_controls" type="java.lang.String" *#
#* @vtlvariable name="page_group" type="com.liferay.portal.model.Group" *#
#* @vtlvariable name="liferay_dockbar_pinned" type="java.lang.Boolean" *#
#* @vtlvariable name="css_folder" type="java.lang.String" *#
#* @vtlvariable name="images_folder" type="java.lang.String" *#
#* @vtlvariable name="javascript_folder" type="java.lang.String" *#
#* @vtlvariable name="templates_folder" type="java.lang.String" *#
#* @vtlvariable name="full_css_path" type="java.lang.String" *#
#* @vtlvariable name="full_templates_path" type="java.lang.String" *#
#* @vtlvariable name="css_main_file" type="java.lang.String" *#
#* @vtlvariable name="js_main_file" type="java.lang.String" *#
#* @vtlvariable name="company_id" type="java.lang.Long" *#
#* @vtlvariable name="company_name" type="java.lang.String" *#
#* @vtlvariable name="company_logo" type="java.lang.String" *#
#* @vtlvariable name="company_logo_height" type="java.lang.Integer" *#
#* @vtlvariable name="company_logo_width" type="java.lang.Integer" *#
#* @vtlvariable name="company_url" type="java.lang.String" *#
#* @vtlvariable name="user_id" type="java.lang.Long" *#
#* @vtlvariable name="is_default_user" type="java.lang.Boolean" *#
#* @vtlvariable name="user_first_name" type="java.lang.String" *#
#* @vtlvariable name="user_middle_name" type="java.lang.String" *#
#* @vtlvariable name="user_last_name" type="java.lang.String" *#
#* @vtlvariable name="user_name" type="java.lang.String" *#
#* @vtlvariable name="is_male" type="java.lang.Boolean" *#
#* @vtlvariable name="is_female" type="java.lang.Boolean" *#
#* @vtlvariable name="user_birthday" type="java.util.Date" *#
#* @vtlvariable name="user_email_address" type="java.lang.String" *#
#* @vtlvariable name="language" type="java.util.Locale" *#
#* @vtlvariable name="language_id" type="java.lang.String" *#
#* @vtlvariable name="w3c_language_id" type="java.lang.String" *#
#* @vtlvariable name="time_zone" type="java.lang.String" *#
#* @vtlvariable name="user_greeting" type="java.lang.String" *#
#* @vtlvariable name="user_comments" type="java.lang.String" *#
#* @vtlvariable name="user_login_ip" type="java.lang.String" *#
#* @vtlvariable name="user_last_login_ip" type="java.lang.String" *#
#* @vtlvariable name="is_login_redirect_required" type="java.lang.Boolean" *#
#* @vtlvariable name="is_signed_in" type="java.lang.Boolean" *#
#* @vtlvariable name="group_id" type="java.lang.Long" *#
#* @vtlvariable name="show_add_content" type="java.lang.Boolean" *#
#* @vtlvariable name="add_content_text" type="java.lang.String" *#
#* @vtlvariable name="add_content_url" type="java.lang.String" *#
#* @vtlvariable name="layout_text" type="java.lang.String" *#
#* @vtlvariable name="layout_url" type="java.lang.String" *#
#* @vtlvariable name="show_control_panel" type="java.lang.Boolean" *#
#* @vtlvariable name="control_panel_text" type="java.lang.String" *#
#* @vtlvariable name="control_panel_url" type="java.lang.String" *#
#* @vtlvariable name="show_home" type="java.lang.Boolean" *#
#* @vtlvariable name="home_text" type="java.lang.String" *#
#* @vtlvariable name="home_url" type="java.lang.String" *#
#* @vtlvariable name="show_my_account" type="java.lang.Boolean" *#
#* @vtlvariable name="my_account_text" type="java.lang.String" *#
#* @vtlvariable name="my_account_url" type="java.lang.String" *#
#* @vtlvariable name="show_page_settings" type="java.lang.Boolean" *#
#* @vtlvariable name="show_site_settings" type="java.lang.Boolean" *#
#* @vtlvariable name="page_settings_text" type="java.lang.String" *#
#* @vtlvariable name="page_settings_url" type="java.lang.String" *#
#* @vtlvariable name="show_sign_in" type="java.lang.Boolean" *#
#* @vtlvariable name="sign_in_text" type="java.lang.String" *#
#* @vtlvariable name="sign_in_url" type="java.lang.String" *#
#* @vtlvariable name="show_sign_out" type="java.lang.Boolean" *#
#* @vtlvariable name="sign_out_text" type="java.lang.String" *#
#* @vtlvariable name="sign_out_url" type="java.lang.String" *#
#* @vtlvariable name="show_toggle_controls" type="java.lang.Boolean" *#
#* @vtlvariable name="toggle_controls_text" type="java.lang.String" *#
#* @vtlvariable name="toggle_controls_url" type="java.lang.String" *#
#* @vtlvariable name="the_title" type="java.lang.String" *#
#* @vtlvariable name="selectable" type="java.lang.Boolean" *#
#* @vtlvariable name="is_maximized" type="java.lang.Boolean" *#
#* @vtlvariable name="is_freeform" type="java.lang.Boolean" *#
#* @vtlvariable name="page_javascript_1" type="java.lang.String" *#
#* @vtlvariable name="page_javascript_2" type="java.lang.String" *#
#* @vtlvariable name="page_javascript_3" type="java.lang.String" *#
#* @vtlvariable name="page" type="com.liferay.portal.model.Layout" *#
#* @vtlvariable name="is_first_child" type="java.lang.Boolean" *#
#* @vtlvariable name="is_first_parent" type="java.lang.Boolean" *#
#* @vtlvariable name="is_portlet_page" type="java.lang.Boolean" *#
#* @vtlvariable name="all_portlets" type="java.util.List<com.liferay.portal.model.Portlet>" *#
#* @vtlvariable name="column_1_portlets" type="java.util.List<com.liferay.portal.model.Portlet>" *#
#* @vtlvariable name="column_2_portlets" type="java.util.List<com.liferay.portal.model.Portlet>" *#
#* @vtlvariable name="column_3_portlets" type="java.util.List<com.liferay.portal.model.Portlet>" *#
#* @vtlvariable name="column_4_portlets" type="java.util.List<com.liferay.portal.model.Portlet>" *#
#* @vtlvariable name="column_5_portlets" type="java.util.List<com.liferay.portal.model.Portlet>" *#
#* @vtlvariable name="maximized_portlet_id" type="java.lang.String" *#
#* @vtlvariable name="typeSettingsProperties" type="com.liferay.portal.kernel.util.UnicodeProperties" *#
#* @vtlvariable name="page_javascript" type="java.lang.String" *#
#* @vtlvariable name="site_name" type="java.lang.String" *#
#* @vtlvariable name="community_name" type="java.lang.String" *#
#* @vtlvariable name="is_guest_group" type="java.lang.Boolean" *#
#* @vtlvariable name="site_type" type="java.lang.String" *#
#* @vtlvariable name="my_sites_portlet_url" type="com.liferay.portal.kernel.portlet.LiferayPortletURL" *#
#* @vtlvariable name="my_places_portlet_url" type="com.liferay.portal.kernel.portlet.LiferayPortletURL" *#
#* @vtlvariable name="site_default_public_url" type="java.lang.String" *#
#* @vtlvariable name="community_default_public_url" type="java.lang.String" *#
#* @vtlvariable name="site_default_private_url" type="java.lang.String" *#
#* @vtlvariable name="community_default_private_url" type="java.lang.String" *#
#* @vtlvariable name="site_default_url" type="java.lang.String" *#
#* @vtlvariable name="community_default_url" type="java.lang.String" *#
#* @vtlvariable name="tilesTitle" type="java.lang.String" *#
#* @vtlvariable name="logo_css_class" type="java.lang.String" *#
#* @vtlvariable name="use_company_logo" type="java.lang.Boolean" *#
#* @vtlvariable name="site_logo_height" type="java.lang.Integer" *#
#* @vtlvariable name="site_logo_width" type="java.lang.Integer" *#
#* @vtlvariable name="show_site_name" type="java.lang.Boolean" *#
#* @vtlvariable name="show_site_name_supported" type="java.lang.Boolean" *#
#* @vtlvariable name="show_site_name_default" type="java.lang.Boolean" *#
#* @vtlvariable name="site_logo" type="java.lang.String" *#
#* @vtlvariable name="logo_description" type="java.lang.String" *#
#* @vtlvariable name="has_navigation" type="java.lang.Boolean" *#
#* @vtlvariable name="nav_items" type="java.util.List<com.liferay.portal.theme.NavItem>" *#
#* @vtlvariable name="has_navigation" type="java.lang.Boolean" *#
#* @vtlvariable name="nav_css_class" type="java.lang.String" *#
#* @vtlvariable name="show_staging" type="java.lang.Boolean" *#
#* @vtlvariable name="staging_text" type="java.lang.String" *#
#* @vtlvariable name="show_my_sites" type="java.lang.Boolean" *#
#* @vtlvariable name="show_my_places" type="java.lang.Boolean" *#
#* @vtlvariable name="my_sites_text" type="java.lang.String" *#
#* @vtlvariable name="my_places_text" type="java.lang.String" *#
#* @vtlvariable name="dir_include" type="java.lang.String" *#
#* @vtlvariable name="body_bottom_include" type="java.lang.String" *#
#* @vtlvariable name="body_top_include" type="java.lang.String" *#
#* @vtlvariable name="bottom_include" type="java.lang.String" *#
#* @vtlvariable name="bottom_ext_include" type="java.lang.String" *#
#* @vtlvariable name="content_include" type="java.lang.String" *#
#* @vtlvariable name="top_head_include" type="java.lang.String" *#
#* @vtlvariable name="top_messages_include" type="java.lang.String" *#
#* @vtlvariable name="date" type="com.liferay.portal.kernel.util.DateUtil_IW" *#
#* @vtlvariable name="current_time" type="java.lang.String" *#
#* @vtlvariable name="the_year" type="java.lang.String" *#
#* @vtlvariable name="init" type="java.lang.String" *#
#* @vtlvariable name="fullCssPath" type="java.lang.String" *#
#* @vtlvariable name="fullTemplatesPath" type="java.lang.String" *#
#* @vtlvariable name="pageContext" type="javax.servlet.jsp.PageContext" *#
#* @vtlvariable name="themeServletContext" type="javax.servlet.ServletContext" *#
#* @vtlvariable name="writer" type="java.io.Writer" *#
#* @vtlvariable name="taglibLiferay" type="com.liferay.taglib.util.VelocityTaglib" *#
#* @vtlvariable name="theme" type="com.liferay.taglib.util.VelocityTaglib" *#
