#* @vtlvariable name="accountPermission" type="com.liferay.portal.kernel.service.permission.AccountPermission" *#
#* @vtlvariable name="arrayUtil" type="com.liferay.portal.kernel.util.ArrayUtil_IW" *#
#* @vtlvariable name="auditMessageFactoryUtil" type="com.liferay.portal.kernel.audit.AuditMessageFactory" *#
#* @vtlvariable name="auditRouterUtil" type="com.liferay.portal.kernel.audit.AuditRouter" *#
#* @vtlvariable name="bodyCssClass" type="java.lang.String" *#
#* @vtlvariable name="browserSniffer" type="com.liferay.portal.kernel.servlet.BrowserSniffer" *#
#* @vtlvariable name="calendarFactory" type="com.liferay.portal.kernel.util.CalendarFactory" *#
#* @vtlvariable name="colorScheme" type="com.liferay.portal.kernel.model.ColorScheme" *#
#* @vtlvariable name="company" type="com.liferay.portal.kernel.model.Company" *#
#* @vtlvariable name="dateFormatFactory" type="com.liferay.portal.kernel.util.FastDateFormatFactory" *#
#* @vtlvariable name="dateFormats" type="com.liferay.portal.kernel.util.FastDateFormatFactory" *#
#* @vtlvariable name="dateUtil" type="com.liferay.portal.kernel.util.DateUtil_IW" *#
#* @vtlvariable name="expandoColumnLocalService" type="com.liferay.expando.kernel.service.ExpandoColumnLocalService" *#
#* @vtlvariable name="expandoRowLocalService" type="com.liferay.expando.kernel.service.ExpandoRowLocalService" *#
#* @vtlvariable name="expandoTableLocalService" type="com.liferay.expando.kernel.service.ExpandoTableLocalService" *#
#* @vtlvariable name="expandoValueLocalService" type="com.liferay.expando.kernel.service.ExpandoValueLocalService" *#
#* @vtlvariable name="fullCssPath" type="java.lang.String" *#
#* @vtlvariable name="fullTemplatesPath" type="java.lang.String" *#
#* @vtlvariable name="getterUtil" type="com.liferay.portal.kernel.util.GetterUtil_IW" *#
#* @vtlvariable name="groupPermission" type="com.liferay.portal.kernel.service.permission.GroupPermission" *#
#* @vtlvariable name="htmlUtil" type="com.liferay.portal.kernel.util.Html" *#
#* @vtlvariable name="httpUtil" type="com.liferay.portal.kernel.util.Http" *#
#* @vtlvariable name="imageToken" type="com.liferay.portal.kernel.webserver.WebServerServletToken" *#
#* @vtlvariable name="imageToolUtil" type="com.liferay.portal.kernel.image.ImageTool" *#
#* @vtlvariable name="init" type="java.lang.String" *#
#* @vtlvariable name="jsonFactoryUtil" type="com.liferay.portal.kernel.json.JSONFactory" *#
#* @vtlvariable name="languageUtil" type="com.liferay.portal.kernel.language.Language" *#
#* @vtlvariable name="layout" type="com.liferay.portal.kernel.model.Layout" *#
#* @vtlvariable name="layoutPermission" type="com.liferay.portal.kernel.service.permission.LayoutPermission" *#
#* @vtlvariable name="layouts" type="java.util.List<com.liferay.portal.kernel.model.Layout>" *#
#* @vtlvariable name="layoutTypePortlet" type="com.liferay.portal.kernel.model.LayoutTypePortlet" *#
#* @vtlvariable name="locale" type="java.util.Locale" *#
#* @vtlvariable name="localeUtil" type="com.liferay.portal.kernel.util.LocaleUtil" *#
#* @vtlvariable name="locationPermission" type="com.liferay.portal.kernel.service.permission.OrganizationPermission" *#
#* @vtlvariable name="navItems" type="java.util.List<com.liferay.portal.kernel.theme.NavItem>" *#
#* @vtlvariable name="organizationPermission" type="com.liferay.portal.kernel.service.permission.OrganizationPermission" *#
#* @vtlvariable name="paramUtil" type="com.liferay.portal.kernel.util.ParamUtil_IW" *#
#* @vtlvariable name="passwordPolicyPermission" type="com.liferay.portal.kernel.service.permission.PasswordPolicyPermission" *#
#* @vtlvariable name="permissionChecker" type="com.liferay.portal.kernel.security.permission.PermissionChecker" *#
#* @vtlvariable name="plid" type="java.lang.String" *#
#* @vtlvariable name="portal" type="com.liferay.portal.kernel.util.Portal" *#
#* @vtlvariable name="portalPermission" type="com.liferay.portal.kernel.service.permission.PortalPermission" *#
#* @vtlvariable name="portalUtil" type="com.liferay.portal.kernel.util.Portal" *#
#* @vtlvariable name="portletDisplay" type="com.liferay.portal.kernel.theme.PortletDisplay" *#
#* @vtlvariable name="portletGroupId" type="java.lang.Long" *#
#* @vtlvariable name="portletModeFactory" type="com.liferay.portal.kernel.portlet.PortletModeFactory_IW" *#
#* @vtlvariable name="portletPermission" type="com.liferay.portal.kernel.service.permission.PortletPermission" *#
#* @vtlvariable name="portletProviderAction" type="java.util.Map<java.lang.String, com.liferay.portal.kernel.portlet.PortletProvider.Action>" *#
#* @vtlvariable name="portletURLFactory" type="com.liferay.portal.kernel.portlet.PortletURLFactory" *#
#* @vtlvariable name="prefsPropsUtil" type="com.liferay.portal.kernel.util.PrefsProps" *#
#* @vtlvariable name="propsUtil" type="com.liferay.portal.kernel.util.Props" *#
#* @vtlvariable name="randomizer" type="com.liferay.portal.kernel.util.Randomizer" *#
#* @vtlvariable name="realUser" type="com.liferay.portal.kernel.model.User" *#
#* @vtlvariable name="rolePermission" type="com.liferay.portal.kernel.service.permission.RolePermission" *#
#* @vtlvariable name="saxReaderUtil" type="com.liferay.portal.kernel.xml.SAXReader" *#
#* @vtlvariable name="scopeGroupId" type="java.lang.Long" *#
#* @vtlvariable name="serviceLocator" type="com.liferay.portal.template.ServiceLocator" *#
#* @vtlvariable name="sessionClicks" type="com.liferay.portal.kernel.util.SessionClicks_IW" *#
#* @vtlvariable name="siteGroupId" type="java.lang.Long" *#
#* @vtlvariable name="staticFieldGetter" type="com.liferay.portal.kernel.util.StaticFieldGetter" *#
#* @vtlvariable name="stringUtil" type="com.liferay.portal.kernel.util.StringUtil_IW" *#
#* @vtlvariable name="theme" type="com.liferay.portal.kernel.model.Theme" *#
#* @vtlvariable name="themeDisplay" type="com.liferay.portal.kernel.theme.ThemeDisplay" *#
#* @vtlvariable name="themeDisplayModel" type="com.liferay.portal.kernel.portlet.ThemeDisplayModel" *#
#* @vtlvariable name="timeZone" type="java.util.TimeZone" *#
#* @vtlvariable name="timeZoneUtil" type="com.liferay.portal.kernel.util.TimeZoneUtil_IW" *#
#* @vtlvariable name="unicodeFormatter" type="com.liferay.portal.kernel.util.UnicodeFormatter_IW" *#
#* @vtlvariable name="unicodeLanguageUtil" type="com.liferay.portal.kernel.language.UnicodeLanguage" *#
#* @vtlvariable name="user" type="com.liferay.portal.kernel.model.User" *#
#* @vtlvariable name="userGroupPermission" type="com.liferay.portal.kernel.service.permission.UserGroupPermission" *#
#* @vtlvariable name="userPermission" type="com.liferay.portal.kernel.service.permission.UserPermission" *#
#* @vtlvariable name="utilLocator" type="com.liferay.portal.template.UtilLocator" *#
#* @vtlvariable name="validator" type="com.liferay.portal.kernel.util.Validator_IW" *#
#* @vtlvariable name="webServerToken" type="com.liferay.portal.kernel.webserver.WebServerServletToken" *#
#* @vtlvariable name="windowStateFactory" type="com.liferay.portal.kernel.portlet.WindowStateFactory_IW" *#
